<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Drivermonitoring
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true" class="contentContainer">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Drivermonitoring</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-file-upload></app-file-upload>
    <!-- <app-file-cam-upload></app-file-cam-upload> -->
    <!-- <app-desktop-view></app-desktop-view> -->
  </div>
</ion-content>
